img {max-width: 100%;
     height: auto;
     border: 6px solid black;


     }
body{background-image: url(./img/paper2.jpg);
     background-repeat: no-repeat;
 }
header img {border-radius: 30px;
text-align: left;position: absolute;
top: 10px ;}

h1{text-align: right;
font-size: 400%;
position: absolute;
top: 0%;
right: 3%;
padding-right: 20px;}
p {text-align: right;
font-size: 200%;
position: absolute;
top: 10%;
right: 0;
font-weight: bold;
padding: 0px 20px;}
/* site nav*/

ul { 
	list-style-type: none;
	text-align: center;
	display: flex;
    margin-bottom: 0px;
    justify-content: center;

}
li{
	padding: 20px 20px;
font-size: xx-large;
}
a{
background-color: coral; 
	border: 1px solid grey;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: black;


}
a:hover {
    background-color: #74e9e9;
  }